*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html{
    scroll-behavior: smooth;
}

header{
    width: 100%;
    height: 50px;
    background-color: #3e4a8f;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 25px;
}

header p{
    margin-right: 50px;
}

.header-left{
    width: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon-left{
    margin-right: 10px;
    display: flex;
    align-items: center;

}

.header-left p{
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.icon-right { 
    margin-right: 10px;
}

.header-right{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.header-right i{
    margin-right: 15px;
}

.section-1{
    width: 100%;
    height: 130vh;
}

.section-2{
    width: 100%;
    height: 70vh;
}


.under-header{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.under-logo{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.under-logo img{
    width: 170px;
}

.under-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}

.under-buttons a{
    text-decoration: none;
    color: black;
    list-style: none;
    margin-right: 20px;
    
}

.under-buttons li{
    list-style-type: none;
}

.pharm-photo{
    width: 100%;
    height: 550px;
    
}

.pharm-photo img{
    width: 100%;
}

.section-text {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-title{
    width: 60%;
    padding-top: 80px;
}

.text-title h4{
    color: #3e4a8f;
    font-size: 24px;
    font-weight: 700;
}

.text-title h1{
    font-size: 54px;
    font-weight: 400;

}

.text-para{
    width: 60%;
    padding-top: 30px;
}

.text-para p{
    margin: 30px 0 0;
    line-height: 140%;
    color: #595959;

}

.team{
    height: 100%;
    width: 100%;
    display: flex;
    background-color: rgb(238,238,238);
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
}

.team-title{
    width: 100%;
    height: 3%;
    text-align: center;
    margin-bottom: 100px;
}

.team-title h2{
    font-size: 48px;
    font-weight: 400;
}

.pharm-leader{
    width: 60%;
    height: 353px;
    display: flex;
    flex-direction: row;
    background-color: white;
}

.leader-photo{
    width: 50%;
}

.leader-photo img{
    width: 100%;
}

.lead-info{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
}

.lead-info-top{
    line-height: 50px;
}

.lead-info-top h3{
    font-size: 34px;
    font-weight: 600;
}

.lead-info-top strong{
    font-weight: 700;
    color: #3e4a8f;
}

.lead-info-bot{
    line-height: 40px;
}

.lead-info-bot p{
    color: #3e4a8f;
}

.section-3{
    width: 100%;
    height: 20vh;
    background-color: rgb(238,238,238);
    display: flex;
    justify-content: center;
}

.title-team{
    width: 60%;
    height: 30px;
    padding-top: 80px;
    font-size: 34px;
    font-weight: 600;
    display: block;
}

.section-4{
    width: 100%;
    height: 100vh;
    background-color: rgb(238,238,238);
    display: flex;
    justify-content: center;
}

.team-row{
    width: 60%;
    display: grid;
    grid-template-columns: 400px 400px 1fr;
}

.profile{
    width: 300px;
    height: 350px;
}

.profile-pic{
    width: 100%;
    height: 70%;
}

.profile-pic img{
    width: 100%;
    height: 100%;
}

.profile-info{
    width: 100%;
    height: 104px;
    display: flex;
    background-color: white;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    line-height: 40px;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color:#3e4a8f;

}

.profile-info h5{
    font-size: 24px;
    font-weight: 600;
}

.section-5{
    height: 50vh;
    background-color: #3e4a8f;
    display: flex;
    justify-content: center;
    width: 100%;
    
}

.footer{
    display: flex;
    width: 60%;
    border: 1px solid gray;
}

.footer-left{
    display: flex;
    border: 1px solid gray;
    width: 36%;
    flex-direction: column;
    color: white;
}

.footer-left p{
    padding-top: 50px;
}

.footer-left-icons{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.footer-mid{
    display: flex;
    border: 1px solid gray;
    width: 36%;
    flex-direction: column;
}

.footer-right{
    display: flex;
    width: 25%;
    flex-direction: column;
}